body {
  display: flex;
  font-family: Poppins, Arial, sans-serif;
  flex-direction: row;
  margin: 0;
  color: #3e3e3e;
  height: 97vh;
}

.content-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Nav */

.navbar {
  height: 100%;
  width: 20%;
  justify-content: center;
  padding: 10px;
  padding-right: 0;
  transition: width 0.5s ease, opacity 0.5s ease;
}

.navbar.hidden {
  width: 0%;
  opacity: 0;
}

.nav-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #3f3f3f;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  align-items: center;
}

.brand {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0;
  color: #c7c7c7;
  background-color: #2c2c2c;
  border-bottom: solid 1px #ffffff3d;
  height: 10%;
  width: 100%;
  min-width: 250px;
  justify-content: end;
  align-items: left;
}

.brand .logo {
  height: 35px;
  font-size: 30px;
  font-weight: 700;
  padding-left: 10px;
}

.brand .name {
  padding-left: 10px;
}

.menus {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 250px;
  align-items: center;
}

.menu {
  color: #8d8d8d;
  display: flex;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
  height: 40px;
  width: 90%;
  justify-content: left;
  align-items: center;
  transition: 0.5s;
}

.menu p {
  padding-left: 10px;
  font-size: 18px;
}

.menu svg path {
  fill: #8d8d8d;
}

.menu:hover {
  background-color: #c7c7c7;
  color: #000000;
  transition: 0.5s;
}

.menu:hover svg path {
  fill: #000000;
  transition: 0.5s;
}

/* Header */
header{
  border-bottom: solid 1px #d6d6d6;
}

header .layer {
  display: flex;
  height: 30px;
  padding: 15px;
  padding-left: 15px;
  align-items: center;
}

header .layer.b{
  padding: 10px;
  padding-top: 0;
}

button {
  background-color: transparent;
  margin-right: 20px;
  border: none;
  width: 50px;
  height: 40px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.5s;
}

button:hover {
  background-color: #c7c7c7;
  transition: 0.5s;
}

button:hover svg path {
  fill: #000000;
  transition: 0.5s;
}

.header-title p {
  height: auto;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 600;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: right;
}

.user-profile {
  display: flex;
  align-items: center;
  text-align: right;
  font-size: 15px;
}

.user-profile img {
  width: 40px;
  border-radius: 100%;
  border: solid 1px #000;
  margin-left: 15px;
}

.search-bar input{
  width: 100%;
  border:solid 1px #afafaf;
  border-radius: 7px;
  font-size: 15px;
  font-family: Poppins, Arial, sans-serif;
  width: 250px;
  margin: 0;
  padding: 3px;
  padding-left: 10px;
}

.layer.b .icon{
  margin-right: 20px;
  margin-left: 10px;
  width: 30px;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.filter-option{
display: flex;
width: 100%;
height: 100%;
justify-content: right;
margin-right: 10px;
}

.filter-option select{
  border: solid 1px #afafaf;
  border-radius: 7px;
  font-size: 15px;
  font-family: Poppins, Arial, sans-serif;
  width: 100px;
  margin: 0;
  padding: auto;
  padding-left: 2px;
}

.layer.b .filter-option .icon{
  margin-left: 0px;
  margin-right: 0;
}

.filter-option .icon:hover{
  cursor: pointer;
}

.icon.asc .desc{
  display: none;
}

.icon.desc .asc{
  display: none;
}

/* Main */

main {
  align-items: center;
  justify-items: center;
  padding: 20px;
  overflow-x: scroll;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  text-align: justify;
}

/* Footer */

footer {}